// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.text-blue {
    color: #3a6daf;
}
.bg-lightblue {
    background-color: rgb(210, 229, 255) !important;
    font-family: "IBM Plex Sans", sans-serif;
}

.font-size {
    font-size: 1.25rem;
    font-family: "IBM Plex Sans", sans-serif;
}

.h1-font {
    font-size: 2rem;
    font-weight: bold;
    font-family: "IBM Plex Sans", sans-serif;
}

.btn-secondary {
    background-color: #1ecfbe !important;
    border-color: #1ecfbe !important;
}

.progress-position {
    position: relative;
    top: -2rem !important;
    left: -2rem !important;
    width: 34rem !important;
}

.progress-bar {
    background-color: #1ecfbe !important;
}
.progress-background {
    background-color: #beece7 !important;
}

.hover:hover {
    // text-transform: uppercase;
    font-weight: bolder;
}
